{% extends 'base.html' %}{% block title %}{{user.first_name}} Page{% endblock %}
{% block content %}
<div id="user">
  <aside><img src="{{user.image_url}}" /></aside>
  <h1>
    {{user.first_name}} {% if user.last_name %}{{user.last_name}}{% endif %}
  </h1>
  <span>
    <a href="/users/{{user.id}}/edit"><button id="edit">Edit</button></a>
    <form action="/users/{{user.id}}/delete" method="POST">
      <button id="delete">Delete</button>
    </form>
  </span>
  <a href="/"><button id="home">Home</button></a>
</div>
{% endblock %}
